<%- layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center"> New Campground</h1>
        <div class="col-6 offset-3">
            

            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">

                <div>
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!

                </div>
                <div>
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]" required>
                    <div class="invalid-feedback">
                        Please enter Location!
                    </div>
                </div>
                
                </div>
                <div>
                    <label for="Description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description" name="campground[description]" required></textarea>
                  </div>  
                    <div class="mb-3">
                        <label for="Price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input  name="campground[price]" class="form-control" id="price" type="number" placeholder="0.00" aria-label="Amount (to the nearest dollar)" required>
                        <span class="price-label"></span>
                        <div class="valid-feedback">
                            Enter price!
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Add Images</label>
                        <input class="form-control" type="file" id="" name="image" multiple>
                      </div>

                <button>Add Campground</button>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>

       
